$font-color: #1e2832;
$hover-border-color: rgba(171, 181, 194, 0.6);
$shadow-color: rgba(171, 181, 194, 0.18);
$mask-color: rgba(0, 0, 0, 0.6);
$scroll-bar-color: rgba(30, 40, 50, 0.12);
$scroll-bar-hover-color: rgba(30, 40, 50, 0.2);
$color-gray-dark: rgba(171, 181, 194, 0.4);
$color-gray-light: rgba(171, 181, 194, 0.1);
$color-green-light: #00b491;
$color-green-dark: #00a282;
$color-white: #fff;
